USE [master]
GO
/****** Object:  Database [FairDB]    Script Date: 5/25/2015 1:34:51 PM ******/
CREATE DATABASE [FairDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FairDB', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\FairDB.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'FairDB_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\FairDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FairDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FairDB]
GO
/****** Object:  Table [dbo].[tbl_Visit]    Script Date: 5/25/2015 1:34:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Visit](
	[vzr_Id] [int] IDENTITY(1,1) NOT NULL,
	[visitor_Id] [int] NOT NULL,
	[zone_Id] [int] NOT NULL,
 CONSTRAINT [PK_tbl_Visit] PRIMARY KEY CLUSTERED 
(
	[vzr_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_Visitor]    Script Date: 5/25/2015 1:34:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_Visitor](
	[v_Id] [int] IDENTITY(1,1) NOT NULL,
	[v_Name] [varchar](50) NOT NULL,
	[v_Email] [varchar](50) NOT NULL,
	[v_ContactNo] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Visitor] PRIMARY KEY CLUSTERED 
(
	[v_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_Zone]    Script Date: 5/25/2015 1:34:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_Zone](
	[z_Id] [int] IDENTITY(1,1) NOT NULL,
	[z_TypeName] [varchar](50) NOT NULL,
	[z_NoOfVisitors] [int] NULL,
 CONSTRAINT [PK_tbl_Zone] PRIMARY KEY CLUSTERED 
(
	[z_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[tbl_Zone] ADD  CONSTRAINT [DF_tbl_Zone_z_NoOfVisitors]  DEFAULT ((0)) FOR [z_NoOfVisitors]
GO
ALTER TABLE [dbo].[tbl_Visitor]  WITH CHECK ADD  CONSTRAINT [FK_Visitor_Visitor] FOREIGN KEY([v_Id])
REFERENCES [dbo].[tbl_Visitor] ([v_Id])
GO
ALTER TABLE [dbo].[tbl_Visitor] CHECK CONSTRAINT [FK_Visitor_Visitor]
GO
USE [master]
GO
